.section-contact {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-contact .title-contact {
  animation: title-contact 1.3s linear infinite;
  animation-direction: alternate;
}
@keyframes title-contact {
  0% {
    color: var(--white);
  }
  100% {
    color: var(--green);
  }
}
.section-contact .box-email {
  margin-top: 1.7rem;
  font-size: 1rem;
  color: var(--green);
}
.section-contact .container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70rem;
  font-size: 1.3rem;
  margin-top: 3rem;
}
.section-contact .container-contact p {
  text-align: center;
  margin: 0 2rem 0 2rem;
  margin-top: 0.9rem;
}
.section-contact .container-contact .button-email {
  position: relative;
  font-family: var(--font-poppins);
  background-color: transparent;
  color: white;
  border: 1px solid var(--white);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  width: 11rem;
  border-radius: 3px;
  margin-top: 3.5rem;
  text-align: center;
  transition: all 0.7s;
}
@keyframes point {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.section-contact .container-contact .button-email .point {
  content: "";
  top: -0.4rem;
  right: -0.4rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--green);
  box-shadow: 0.1rem 0rem 1rem 0.1rem var(--green);
  border-radius: 100%;
  position: absolute;
  align-items: center;
  text-align: center;
  -webkit-animation: point 0.9s linear infinite;
  -moz-animation: point 0.9s linear infinite;
  -ms-animation: point 0.9s linear infinite;
  -o-animation: point 0.9s linear infinite;
  animation: point 0.9s linear infinite;
}
.section-contact .container-contact .button-email:hover {
  transform: translateY(-6px);
  color: var(--green);
}
@media screen and (max-width: 768px) {
  .section-contact .container-contact .button-email {
    width: 9rem;
  }
}
.section-contact .container-contact .social-main {
  margin-top: 5rem;
}
.section-contact .container-contact .social-main a {
  margin: 1rem;
  color: var(--white);
}
.section-contact .container-contact .social-main a:hover {
  color: var(--green);
}
.section-contact .container-contact .social-main a:hover i {
  transition: all 0.7s;
  transform: scale(1.1, 1.1) translateY(-6px);
}
