/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800&&family=Inter:wght@500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --font-inter: "Inter", sans-serif;
  --font-barlow: "Barlow", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --black: #000000;
  --green: rgb(3, 197, 3);
  --white: #ffffff;
}

body {
  background-color: var(--black);
  color: var(--white);
}
body h3 {
  margin-top: 10rem;
  font-family: var(--font-poppins);
  text-align: center;
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  body h3 {
    font-size: 2.1rem;
    margin-top: 10rem;
  }
}

nav {
  height: 3.5rem;
  transition: all 1.3s;
  border: 0px solid var(--white);
  margin-top: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
}
nav img {
  height: 3rem;
}
nav .links-menu {
  color: white;
  margin-right: 3rem;
  font-size: 1.1rem;
}
nav .links-menu ul {
  transition: all 0.7s;
  display: flex;
}
nav .links-menu ul li {
  margin-left: 1.3rem;
}
nav .links-menu ul li:hover {
  transition: all 0.7s;
  transform: scale(1.1, 1.1);
}
nav .links-menu ul li a {
  color: white;
}
nav .links-menu ul li a:hover {
  transition: all 0.7s;
  color: var(--green);
  transform: scale(3, 3);
}
@media screen and (max-width: 768px) {
  nav .links-menu {
    display: none;
  }
}
nav .button-hamburguer {
  background-color: transparent;
  display: block;
  z-index: 10;
  border: none;
  color: white;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  nav .button-hamburguer {
    display: none;
  }
}
nav .icon-button {
  display: none;
  transition: all 0.7s;
}
nav .dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: 3s;
  margin-right: 1rem;
}
nav .dropdown-child {
  transition: all 0.7s;
  height: 0;
  position: absolute;
  top: 90%;
  right: 25%;
  background-color: var(--white);
  color: var(--black);
  min-width: 170px;
}
nav .dropdown-child ul {
  display: none;
}
nav .dropdown-child ul li {
  text-align: center;
}
nav .dropdown-child ul li p {
  color: var(--black);
  font-weight: bold;
  font-size: 1.4rem;
}
nav .dropdown-child ul li a {
  color: var(--black);
}
nav .container-close-drop {
  justify-content: space-between;
  margin-right: 0.7rem;
  margin-top: 0.7rem;
}
nav .dropdown-child a {
  padding: 15px;
  text-decoration: none;
  display: block;
}
nav .dropdown-show {
  transition: all 0.7s;
  height: 18rem;
}
nav .dropdown-show ul {
  display: block;
}

.section-main {
  padding-top: 9rem;
  display: flex;
  justify-content: center;
  text-align: center;
}
.section-main .container-main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.section-main .container-main .destaque-main {
  font-family: var(--font-poppins);
  color: rgb(255, 255, 255);
  background-color: #111111;
  padding: 0.5rem;
  width: 13rem;
  border-radius: 2px;
}
.section-main .container-main .titulo-main {
  font-family: var(--font-poppins);
  font-weight: 100;
  font-size: 3.7rem;
  margin-top: 1.3rem;
}
.section-main .container-main .titulo-main .destaque {
  color: var(--green);
}
@media screen and (max-width: 768px) {
  .section-main .container-main .titulo-main {
    font-size: 1.8rem;
  }
}
.section-main .container-main .cargo-main {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 4.1rem;
  margin-top: 1rem;
}
@media screen and (max-width: 768px) {
  .section-main .container-main .cargo-main {
    font-size: 1.7rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.section-main .container-main .descricao-main {
  margin-top: 1.9rem;
  opacity: 0.8;
  font-size: 1.1rem;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .section-main .container-main .descricao-main {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .section-main .container-main .descricao-main {
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.section-main .container-main .container-buttons {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  width: 30rem;
}
@media screen and (max-width: 768px) {
  .section-main .container-main .container-buttons {
    width: 90%;
  }
}
.section-main .container-main .container-buttons .button-cv {
  font-family: var(--font-poppins);
  background-color: transparent;
  color: white;
  margin-top: 2.5rem;
  border: 1px solid var(--white);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  width: 11rem;
  border-radius: 3px;
  transition: all 0.7s;
}
.section-main .container-main .container-buttons .button-cv:hover {
  transform: translateY(-6px);
  color: var(--green);
}
@media screen and (max-width: 768px) {
  .section-main .container-main .container-buttons .button-cv {
    width: 9rem;
  }
}
.section-main .container-main .container-buttons .link-saiba-mais {
  font-family: var(--font-poppins);
  color: var(--black);
  background-color: var(--green);
  margin-top: 2.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  width: 11rem;
  border-radius: 3px;
  transition: all 0.7s;
}
.section-main .container-main .container-buttons .link-saiba-mais:hover {
  opacity: 0.9;
  transform: translateY(-6px);
}
@media screen and (max-width: 768px) {
  .section-main .container-main .container-buttons .link-saiba-mais {
    width: 9rem;
  }
}
.section-main .container-main .social-main {
  margin-top: 5rem;
}
.section-main .container-main .social-main a {
  margin: 1rem;
  color: var(--white);
}
.section-main .container-main .social-main a:hover {
  color: var(--green);
}
.section-main .container-main .social-main a:hover i {
  transition: all 0.7s;
  transform: scale(1.1, 1.1);
}

.ContainerFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.5rem;
}

.LinksRedesSociais {
  margin-top: 7rem;
}
.LinksRedesSociais a {
  margin: 0.225rem;
  color: var(--white);
  transition: 0.5s;
}
.LinksRedesSociais a i {
  transition: 0.7s;
}
.LinksRedesSociais a i:hover {
  transform: translateY(-10px) scale(1.1);
}
.LinksRedesSociais a:hover {
  transform: translateY(-10px) scale(1.2);
}
.LinksRedesSociais a:hover .twitter {
  color: #1d9bf0;
}
.LinksRedesSociais a:hover .linkedin {
  color: #0a66c2;
}
.LinksRedesSociais a:hover .instagram {
  color: #cf31a5;
}

.text-footer {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--white);
  opacity: 1;
  margin-bottom: 0;
  margin-top: 0.9rem;
  transition: 0.5s;
}
.text-footer:hover {
  transition: all 0.7s;
  color: var(--green);
}

.section-expertise {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-expertise h3 {
  font-family: var(--font-poppins);
  text-align: center;
  font-size: 3rem;
  transition: all 0.7s;
}
@media screen and (max-width: 768px) {
  .section-expertise h3 {
    font-size: 2.1rem;
  }
}
.section-expertise h3:hover {
  color: var(--green);
}
.section-expertise .container-card {
  margin-top: 5rem;
  display: flex;
}
@media screen and (max-width: 768px) {
  .section-expertise .container-card {
    flex-direction: column;
  }
}
.section-expertise .container-card .card {
  height: 21rem;
  width: 21rem;
  border: 1px solid var(--white);
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  transition: all 0.7s;
}
@media screen and (max-width: 768px) {
  .section-expertise .container-card .card {
    height: 20rem;
    width: 21rem;
  }
}
.section-expertise .container-card .card .header-card {
  display: flex;
  margin: 1rem 1rem 1rem 0.5rem;
}
.section-expertise .container-card .card .header-card .title-card {
  margin-top: 1rem;
  margin-left: 0.9rem;
  font-size: 1.5rem;
  color: var(--white);
}
.section-expertise .container-card .card hr {
  height: 1px;
  background-color: var(--green);
  border: none;
}
.section-expertise .container-card .card .description-card {
  font-family: var(--font-poppins);
  color: var(--white);
  margin: 3rem 1rem 1rem 1.9rem;
  font-size: 1.3rem;
}
.section-expertise .container-card .card:hover {
  border: 1px solid var(--green);
}
.section-expertise .container-card .card:hover .title-card {
  transition: all 0.7s;
  color: var(--green);
}
.section-expertise .container-card .card:hover hr {
  transition: all 0.7s;
  height: 1px;
  background-color: var(--white);
  border: none;
}
.section-expertise .container-card .card:hover .description-card {
  transition: all 0.7s;
  color: var(--green);
}

.section-skills {
  align-items: center;
  text-align: center;
}
.section-skills h3 {
  font-size: 3rem;
  transition: all 0.7s;
}
.section-skills h3:hover {
  color: var(--green);
}
.section-skills .container-icons {
  margin-top: 3rem;
  padding-left: 15rem;
  padding-right: 15rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, auto));
}
@media screen and (max-width: 768px) {
  .section-skills .container-icons {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.section-skills .container-icons .box-icon {
  margin: 1.7rem;
  transition: all 0.7s;
  font-size: 1.7rem;
}
.section-skills .container-icons .box-icon:hover {
  transform: scale(1.2, 1.2);
  color: var(--green);
}
.section-skills .container-icons .box-icon i {
  margin-top: 1.9rem;
}
.section-skills .container-icons .box-icon p {
  font-size: 1.1rem;
}

.section-edu .container-edus {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-edu .container-edus hr {
  margin-top: 2.5rem;
  margin-bottom: 5.5rem;
  height: 1px;
  background-color: var(--green);
  border: none;
  box-shadow: 0.1rem 0rem 1rem 0.1rem var(--green);
}
@media screen and (max-width: 768px) {
  .section-edu .container-edus {
    padding-left: 1.2rem;
    width: 90%;
  }
}
.section-edu .container-edus .card-edu .edu {
  display: flex;
  margin-top: 4.9rem;
  max-width: 40rem;
}
@media screen and (max-width: 768px) {
  .section-edu .container-edus .card-edu .edu {
    margin-top: 3.9rem;
  }
}
.section-edu .container-edus .card-edu .edu .container-point {
  margin-top: 0.7rem;
}
.section-edu .container-edus .card-edu .edu .container-point .point {
  content: "";
  top: 3rem;
  right: -0.5rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--green);
  box-shadow: 0.1rem 0rem 1rem 0.1rem var(--green);
  border-radius: 100%;
  align-items: center;
  text-align: center;
  margin-right: 1rem;
}
.section-edu .container-edus .card-edu .edu .info-edu {
  margin-left: 1rem;
}
.section-edu .container-edus .card-edu .edu .info-edu .container-title {
  display: flex;
  font-size: 1.4rem;
}
.section-edu .container-edus .card-edu .edu .info-edu .container-title .title {
  margin-left: 1rem;
  margin-bottom: 0.3rem;
}
.section-edu .container-edus .card-edu .edu .info-edu .subtitle {
  margin-left: 0.2rem;
  color: var(--green);
}
.section-edu .container-edus .card-edu .edu .info-edu .description {
  margin-top: 1.3rem;
}
.section-edu .container-edus .card-edu .edu .info-edu .data {
  font-size: 0.83rem;
  margin-top: 0.6rem;
  color: #818181;
}
.section-edu .container-edus .card-edu .container-certificado {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.section-edu .container-edus .card-edu .container-certificado .button-certificado {
  font-family: var(--font-poppins);
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  padding: 0.8rem 0 0.8rem 0;
  border-radius: 3px;
  transition: all 0.7s;
  width: 12.25rem;
  text-align: center;
}
.section-edu .container-edus .card-edu .container-certificado .button-certificado:hover {
  transform: translateY(-6px);
  color: var(--green);
}
.section-edu .container-edus .card-edu .container-certificado .button-progresso {
  font-family: var(--font-poppins);
  background-color: transparent;
  color: #a6a6a6;
  cursor: not-allowed;
  border: 1px solid #a6a6a6;
  padding: 0.8rem;
  border-radius: 3px;
  transition: all 0.7s;
  width: 12.25rem;
  text-align: center;
}

.section-projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .section-projects {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.section-projects .container-projects {
  display: grid;
  margin-top: 2rem;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(23rem, auto));
}
@media screen and (min-width: 768px) {
  .section-projects .container-projects {
    width: 80%;
  }
}
.section-projects .container-projects .card-project {
  padding-top: 0;
  font-family: var(--font-poppins);
  text-align: center;
  margin-top: 4rem;
  width: 23rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-projects .container-projects .card-project h5 {
  font-size: 1.7rem;
  margin-bottom: 0.7rem;
}
.section-projects .container-projects .card-project img {
  width: 100%;
  border-radius: 5px;
  transition: all 0.7s;
}
@media screen and (max-width: 768px) {
  .section-projects .container-projects .card-project img {
    width: 95%;
  }
}
.section-projects .container-projects .card-project img:hover {
  transform: scale(1.07, 1.07);
}
.section-projects .container-projects .card-project .container-link-to {
  width: 12rem;
  display: flex;
  justify-content: space-around;
}
.section-projects .container-projects .card-project .container-link-to a {
  background-color: transparent;
  color: white;
  margin: 1.23rem 0.3rem 1rem 0.3rem;
  border: 1px solid var(--white);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 5rem;
  border-radius: 3px;
  transition: all 0.7s;
}
.section-projects .container-projects .card-project .container-link-to a:hover {
  color: var(--green);
}
.section-projects .container-projects .card-project p {
  padding: 0 1rem 0 1rem;
}
.section-projects .buton-github {
  font-family: var(--font-poppins);
  color: var(--black);
  background-color: var(--green);
  margin-top: 2.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  border: 1px solid transparent;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  width: 11rem;
  border-radius: 3px;
  transition: all 0.7s;
}
.section-projects .buton-github:hover {
  opacity: 0.9;
  background-color: transparent;
  transform: scale(1.1, 1.1);
  color: white;
  border: 1px solid var(--white);
}
@media screen and (max-width: 768px) {
  .section-projects .buton-github {
    width: 9rem;
  }
}

.section-contact {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-contact .title-contact {
  animation: title-contact 1.3s linear infinite;
  animation-direction: alternate;
}
@keyframes title-contact {
  0% {
    color: var(--white);
  }
  100% {
    color: var(--green);
  }
}
.section-contact .container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70rem;
  font-size: 1.3rem;
  margin-top: 3rem;
}
.section-contact .container-contact p {
  text-align: center;
  margin: 0 2rem 0 2rem;
  margin-top: 0.9rem;
}
.section-contact .container-contact .button-email {
  position: relative;
  font-family: var(--font-poppins);
  background-color: transparent;
  color: white;
  border: 1px solid var(--white);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  width: 11rem;
  border-radius: 3px;
  margin-top: 5.5rem;
  text-align: center;
  transition: all 0.7s;
}
@keyframes point {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.section-contact .container-contact .button-email .point {
  content: "";
  top: -0.4rem;
  right: -0.4rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--green);
  box-shadow: 0.1rem 0rem 1rem 0.1rem var(--green);
  border-radius: 100%;
  position: absolute;
  align-items: center;
  text-align: center;
  -webkit-animation: point 0.9s linear infinite;
  -moz-animation: point 0.9s linear infinite;
  -ms-animation: point 0.9s linear infinite;
  -o-animation: point 0.9s linear infinite;
  animation: point 0.9s linear infinite;
}
.section-contact .container-contact .button-email:hover {
  transform: translateY(-6px);
  color: var(--green);
}
@media screen and (max-width: 768px) {
  .section-contact .container-contact .button-email {
    width: 9rem;
  }
}
.section-contact .container-contact .social-main {
  margin-top: 5rem;
}
.section-contact .container-contact .social-main a {
  margin: 1rem;
  color: var(--white);
}
.section-contact .container-contact .social-main a:hover {
  color: var(--green);
}
.section-contact .container-contact .social-main a:hover i {
  transition: all 0.7s;
  transform: scale(1.1, 1.1) translateY(-6px);
}
