.section-expertise {
    display: flex;
    align-items: center;
    flex-direction: column;
    h3 {
        font-family: var(--font-poppins);
        text-align: center;
        font-size: 3rem;
        @media screen and (max-width: 768px) {
            font-size: 2.1rem;
        }

        transition: all 0.7s;

        &:hover {
            color: var(--green);
        }
    }

    .container-card {
        margin-top: 5rem;
        display: flex;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        .card {
            height: 21rem;
            width: 21rem;
            border: 1px solid var(--white);
            margin-left: 0.7rem;
            margin-right: 0.7rem;
            margin-bottom: 1rem;
            border-radius: 3px;

            transition: all 0.7s;

            

            @media screen and (max-width: 768px) {
                height: 20rem;
                width: 21rem;
            }

            .header-card {
                display: flex;
                margin: 1rem 1rem 1rem 0.5rem;

                .title-card {
                    margin-top: 1rem;
                    margin-left: 0.9rem;
                    font-size: 1.5rem;
                    color: var(--white);

                }
            }
            hr {

                height: 1px;
                background-color: var(--green);
                border: none;
            }
            .description-card {
                font-family: var(--font-poppins);
                color: var(--white);

                margin: 3rem 1rem 1rem 1.9rem;
                font-size: 1.3rem;

            }

            &:hover {
                border: 1px solid var(--green);
                .title-card {
                    transition: all 0.7s;

                    color: var(--green);
                }
                hr {
                    transition: all 0.7s;

                    height: 1px;
                    background-color: var(--white);
                    border: none;
                }
                .description-card {
                    transition: all 0.7s;

                    color: var(--green);
                }
            }
        }
    }
}
