.section-expertise{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;


    h3{
        font-family: var(--font-poppins);

        font-size: 3rem;
    }

    
}