.section-main {
    padding-top: 9rem;
    display: flex;
    justify-content: center;
    text-align: center;

    .container-main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        .destaque-main {
            font-family: var(--font-poppins);
            color: rgb(255, 255, 255);
            background-color: #111111;
            padding: 0.5rem;
            width: 13rem;
            border-radius: 2px;
        }

        .titulo-main {
            font-family: var(--font-poppins);
            font-weight: 100;
            font-size: 3.7rem;
            margin-top: 1.3rem;
            .destaque {
                color: var(--green);
            }
            @media screen and (max-width: 768px) {
                font-size: 1.8rem;
            }
        }

        .cargo-main {
            font-family: var(--font-poppins);

            font-weight: 600;
            font-size: 4.1rem;
            margin-top: 1rem;
            @media screen and (max-width: 768px) {
                font-size: 1.7rem;
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }
        .descricao-main {
            margin-top: 1.9rem;
            opacity: 0.8;
            font-size: 1.1rem;
            width: 50%;
            @media screen and (max-width: 768px) {
                width: 90%;
            }

            @media screen and (max-width: 768px) {
                font-size: 1rem;
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }

        .container-buttons{

            margin-top: 4rem;
            display: flex;
            justify-content: space-around;
            width: 30rem;

            @media screen and (max-width: 768px) {
                width: 90%;

            }
            .button-cv {
                font-family: var(--font-poppins);
    
                background-color: transparent;
                color: white;
                margin-top: 2.5rem;
                border: 1px solid var(--white);
                padding-top: 0.8rem;
                padding-bottom: 0.8rem;
                width: 11rem;
                border-radius: 3px;
                transition: all 0.7s;
    
                &:hover {
                    transform: translateY(-6px);
                }
                i {
                    color: white;
                }

                @media screen and (max-width: 768px) {
                    width: 9rem;
    
                }
            }
    
            .link-saiba-mais {
                font-family: var(--font-poppins);
                color: var(--black);
                background-color: var(--green);
                margin-top: 2.5rem;

                padding-top: 0.8rem;
                padding-bottom: 0.8rem;
                width: 11rem;
                border-radius: 3px;
                transition: all 0.7s;
    
                &:hover {
                    opacity: 0.9;
                    transform: translateY(-6px);
                }
                @media screen and (max-width: 768px) {
                    width: 9rem;
    
                }
            }
        }

        .social-main {
            margin-top: 5rem;

            a {
                margin: 1rem;
                color: var(--white);
                &:hover {
                    color: var(--green);
                    i {
                        transition: all 0.7s;

                        transform: scale(1.1, 1.1);
                    }
                }
            }
        }
    }
}
