.section-skills{
    margin-top:5rem;
    align-items: center;
    text-align:center;

    h3{
        font-size:3rem;
    }

    .container-icons{
        margin-top:3rem;
    

        .box-icon{
            margin: 1.7rem;
        }
    }
}